/*pixel pixel Fonts yaaay so cute*/
body {
    font-family: "lores-12", sans-serif;
    margin: 0;
    padding: 0;   
    font-weight: 400;
    font-style: normal;
    background-color: #181818;
}

h1 {
    font-family: "lores-9-plus-narrow", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: #9b4fff;
  }

  h2 {
    font-family: "lores-9-plus-narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #9b4fff;
  }
 
  h3 {
    font-family: "lores-9-wide", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  p {
    font-family: "lores-21-serif", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  }
  


header {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
}



/*custom element fonts*/
.intro h1{
  font-family: "lores-9-plus-narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}

.intro p{
  font-family: "lores-9-plus-narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}


.hero h1 {
  text-align: center; 
  color: white;
  
}

.footer a {
  color: rgb(241, 206, 255); 
  transition: color 0.3s; 
}

.footer a:hover {
  color: rgb(168, 61, 255);
}

.panel p{
  font-size:large;
  font-family: "lores-9-narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card-container p{
  font-family: "lores-9-plus-narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-top: 0;
}

.container p{
  text-align: center;
}

.footer-info p{
  font-family: "lores-9-wide", sans-serif;
  font-weight: 400;
  font-style: normal;

}



button a {
  color: inherit; 
  text-decoration: none; 
}

header nav ul li a {
  font-size:medium;
  font-family: "lores-9-plus-narrow", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(255, 255, 255); 
  transition: color 0.3s; 
}

header nav ul li a:hover {
  color: rgb(255, 0, 255); 
}




/*BUTTONSSSSS*/

  button {
  padding: 10px 20px;
  background-color: #db3265;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: medium;
  
  
  font-family: "lores-9-narrow", sans-serif;
  font-weight: 700;
  font-style: normal;
  
}

  .button-link { /*needs a seperate button for links for valid html*/
  padding: 10px 20px;
  background-color: #db3265;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: medium;
  text-decoration: none;
  font-family: "lores-9-narrow", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 20px;
}

  .button-link:hover {
    background-color: #7034be;
    color: rgb(255, 255, 255);
}

  button:hover {
  background-color: #7034be;
  color: rgb(255, 255, 255);
  }





/*DEFAULT LIST*/

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  
  li {
    display: inline;
    margin-right: 10px;
  }
  
  li:last-child {
    margin-right: 0; 
  }





/* LIST for the nav*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}



 /* Responsive Styles */
 @media (max-width: 768px) {
    h1 {
      font-size: 28px;
    }
  
    h2 {
      font-size: 20px;
    }
  }